.accordion-body {
    padding: 1rem 1.25rem;
    display: flex;
}
.product_list_category{
    margin:auto;
    margin-top: 20px;
    width:60%;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:10px;
    border-top-right-radius: 10px;
   padding: 10px 30px;
  }
.accordion-header button {
  background-color: whitesmoke;
  margin-bottom: 2px;
}
@media screen and (max-width: 375px) {
    .product_list_category{
        width:90%;
    }
  }

  @media screen and (max-width: 425px) {
    .product_list_category{
        width:80%;
    }
  }

  @media screen and (max-width: 768px) {
    .product_list_category{
        width:90%;
    }
  }
  @media screen and (max-width: 1024px) {
    .product_list_category{
        width:90%;
    }
  }