.header_item{
    margin: 3px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    list-style: none;
    }
.header_item > ion-icon{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.header_item > div{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color:black;
}
.header_item:hover{
    background-color: grey;
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 1.5px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex h1 {
    flex: 1;
}