.box{
    margin: auto;
}
.product_container{

    margin-top: 20px;
     /* border: 10px solid dodgerblue; */
   border-top-left-radius: 20px;
   border-bottom-right-radius:20px;
   border-bottom-left-radius:10px;
   border-top-right-radius: 10px;
  padding: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  position: relative;
  width: 600px;

}

.product_container  form div {
    text-align: left;
}
.product_container  form button {
    background-color: rgba(13,110,253);
}

.product_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color:grey ;
    width: 100%;
    color: white;
    /* font-size: larger; */
    font-weight: bolder;
    
}

.back_icon{
    /* position:absolute;  */
    display: flex;
    align-items: center;
}

.back_icon ion-icon{
    font-size:30px;
    text-align: left;
    cursor: pointer;
}
.back_icon h1 {
    flex: 1;
    text-align: center;
}

.product_heading:hover {
    background-color: grey;
    opacity: 0.4;
    cursor: pointer;
}


.input{
    width: 100%;
    padding: 4px;
    outline:none;
    border: none;
    border: 1px solid #ced4da;
    border-radius: 4px;
    
}

@media screen and (max-width: 425px) {

}